body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #34aeeb;
    color: white;
    padding: 20px 0;
}

.tagline {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #263238;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 20px;
}

.introduction, .projects {
    margin-bottom: 30px;
}

.projects .project {
    background-color: #eceff1;
    padding: 15px;
    margin-top: 10px;
    border-left: 5px solid #34aeeb;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #263238;
    color: white;
}